.foretag {
  width: 100%;
  min-height: 100vh;

  .wrapper {
    width: 95%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 100%;

    h2 {
    }

    .content {
    }
  }
}
