.introduction {
  align-items: center;
  background-color: #080808;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: fixed;
  width: 100vw;
  z-index: 99;

  svg {
    height: calc(100% + 300px);
    position: absolute;
    top: 0;
    width: 100%;

    path {
      fill: #121212;
    }
  }

  p {
    align-items: center;
    color: #d45500;
    text-shadow: 1px 1px 1px #ebebeb;
    display: flex;
    font-size: 42px;
    position: absolute;
    z-index: 1;
  }
}
