.wrapper {
  display: flex;
  height: 189px;
  margin-bottom: 4rem;
  padding-left: 2.5rem;
}

.wrapper h1,
.words h1 {
  font-size: 8rem;
}

.words {
  overflow: hidden;
}

.words h1 {
  animation: spin_words 10s infinite;
  animation-delay: 2s;
  height: 130%;
  padding-left: 1rem;
}

@keyframes spin_words {
  0% {
    transform: translateY(0%);
  }
  5% {
    transform: translateY(-12%);
  }
  10% {
    transform: translateY(0%);
  }
  15% {
    transform: translateY(-112%);
  }
  20% {
    transform: translateY(-100%);
  }
  25% {
    transform: translateY(-212%);
  }
  30% {
    transform: translateY(-200%);
  }
  35% {
    transform: translateY(-312%);
  }
  40% {
    transform: translateY(-300%);
  }
  50% {
    transform: translateY(-412%);
  }
  55% {
    transform: translateY(-400%);
  }
  65% {
    transform: translateY(-512%);
  }
  70% {
    transform: translateY(-500%);
  }
  80% {
    transform: translateY(-612%);
  }
  85% {
    transform: translateY(-600%);
  }
  95% {
    transform: translateY(-712%);
  }
  100% {
    transform: translateY(-700%);
  }
}

@media only screen and (max-width: 600px) {
  .wrapper {
    height: 49px;
    margin-bottom: 6rem;
    width: 100%;
  }

  .wrapper h1,
  .words h1 {
    font-size: 2.75rem;
  }

  .words {
    height: 49px;
  }

  .words h1 {
    height: 30%;
    padding-left: 0.6rem;
  }
}

@media only screen and (min-width: 1200px) {
  .wrapper {
    margin-bottom: 6rem;
    padding-left: 12.5rem;
    padding-right: 12.5rem;
    width: 100%;
  }

  .wrapper h1,
  .words h1 {
    font-size: 8rem;
  }

  .words h1 {
    height: 30%;
    padding-left: 0.6rem;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    padding-left: 12.5rem;
    padding-right: 12.5rem;
  }
}
