@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&family=Poppins:wght@400;600&family=Playfair+Display:ital@1&family=Dancing+Script:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-stroke {
    -webkit-text-stroke: 2px black; /* Adjust color and size */
    color: transparent; /* Ensures the inside is transparent */
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* overflow: hidden; */
  font-size: 1.1rem;
  /* cursor: wait; */
  max-width: 100%;
}

:root {
  --font-body: 'Work Sans', sans-serif;
  --font-headings: 'Poppins', sans-serif;
  --font-italic: 'Playfair Display', serif;
  --font-tagline: 'Dancing Script', cursive;
}

h2,
h3,
h4,
h5,
button,
label {
  font-family: var(--font-headings);
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.65rem;
}

h3 {
  font-size: 1.03rem;
}

h4 {
  font-size: 0.75rem;
}

h5,
label {
  font-size: 0.65rem;
}

input,
li,
button {
  font-size: 0.95rem;
  line-height: 1.55rem;
}

em {
  font-family: var(--font-italic);
  font-size: 3.25rem;
  line-height: 4rem;
}
